.code-wrapper {
    margin-top: 30px;
    width: 100%;

    .code-title {
        font-size: 1.2em;
        margin-block: .8em;
        border-top: 1px solid #dedede;
        padding-top: 10px;
    }
}