.ext-page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .ant-input-group {
        .input {
            width: calc(100% - 100px);
        }
        button {
            border-radius: 0  0 2px 2px;
        }
    }
    .description {
        margin-block: 20px;
    }

    .children {
    display: flex;
    justify-content: center;
    margin:0;
    }
    #Tree div div:not(.children) .node{
    font-weight:bold;
    height:48px;
    margin: 12px 12px;
    position:relative;
    border-radius: 16px;
    padding: 4px 10px 10px 9px;
    text-align: center;
    min-width: 14px;
    font-size:1.5em;
    border:1px solid rgba(44,45,47,1);
    display: flex;
    align-items: center;
    justify-content: center;
    
    &::before {
        content: "";
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translate(-5%);
        width: 1px;
        height: 25px;
        background: #2c2d2f;
        }
    }
    .node{
    font-weight:bold;
    background-color:transparent;
    height:48px;
    margin: 12px;
    position:relative;
    border-radius:50%;
    border-radius: 16px;
    padding: 4px 10px 10px 9px;
    text-align: center;
    min-width: 14px;
    font-size:1.5em;
    border:1px solid rgba(44,45,47,1);

    &::before {
        content: "";
        position: absolute;
        top: -24px;
        left: 50%;
        transform: translate(-5%);
        width: 1px;
        height: calc(#{24px} - 1px);
        background: transparent;
        }
    }

    .children > * {
    flex-grow: 1;
    }
}