.ant-layout-header  {
    background-color: #fff !important;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .home-link {
        color: #000;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: none;
    }

    .link  {
        color: #000;
        margin-inline: 8px;
        svg{         
            width: 20px;
            height: 20px;  
        }
    }
}