* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
}
// *:not(pre) > code {
//     font-family: 'Quattrocento Sans','Roboto', sans-serif;
// }
=======
    font-family: 'Quattrocento Sans','Roboto', sans-serif;
}
>>>>>>> 167ea68 (improve expression tree)
